<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- flutter_ble_peripheral adds API 23-30 variants of these permissions.
         Keep this app-level declaration as the single source of truth so the
         packaged manifest does not contain duplicate location permissions. -->
    <uses-permission-sdk-23
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove"/>
    <uses-permission-sdk-23
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <application
        android:label="seolleyeon"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data
    android:name="com.google.firebase.messaging.default_notification_channel_id"
    android:value="seolleyeon_high_importance" />
        <!-- 카카오 로그인: 웹/카카오톡 OAuth 리다이렉트 수신 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="kakaocb08e2aea50a58b7d0c5e610e0c5a644"
                    android:host="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false" />
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 카카오링크(공유 메시지 버튼): 스킴은 kakao + 네이티브 앱키 전체 (cb… 포함) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="kakao08e2aea50a58b7d0c5e610e0c5a644"
                    android:host="kakaolink" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="seolleyeon-final.web.app"
                    android:pathPrefix="/invite/friend" />
            </intent-filter>
            <!-- Firebase Auth 이메일 링크: Firebase Hosting 기반 링크 수신 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="seolleyeon-final.firebaseapp.com"
                    android:pathPrefix="/__/auth/links" />
            </intent-filter>
            <!-- 이메일 인증 링크가 Hosting continue URL로 돌아오는 경우에도
                 브라우저가 아니라 설치된 설레연 앱에서 처리한다. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="seolleyeon-final.web.app"
                    android:pathPrefix="/auth/email-link" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="seolleyeon"
                    android:host="invite"
                    android:pathPrefix="/friend" />
            </intent-filter>
            <!-- 메일 앱 내장 브라우저가 HTTPS App Link를 가로챈 경우 Hosting의
                 "앱에서 계속하기" 버튼이 원래 Firebase action query를 전달한다. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="seolleyeon"
                    android:host="auth"
                    android:pathPrefix="/email-link" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Gmail 앱 실행 (메일 앱 열기 버튼) -->
        <package android:name="com.google.android.gm"/>
        <!-- 카카오톡 앱 설치 여부 확인 (isKakaoTalkInstalled) - Android 11+ -->
        <package android:name="com.kakao.talk"/>
        <!-- 카카오맵 / 네이버지도 앱 (url_launcher · 지도 스킴) -->
        <package android:name="net.daum.android.map"/>
        <package android:name="com.nhn.android.nmap"/>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="intent"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="kakaomap"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="nmap"/>
        </intent>
        <!-- PortOne KG이니시스 본인인증 WebView에서 외부 인증 앱 호출 가능 여부 확인 -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tauthlink"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="ktauthexternalcall"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="upluscorporation"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="supertoss"/>
        </intent>
    </queries>
</manifest>
