<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQCNUk0odNktf79K62gvaUM47AwHGBuX4</string>
	<key>GCM_SENDER_ID</key>
	<string>623093454373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yonsei.dating</string>
	<key>PROJECT_ID</key>
	<string>seolleyeon</string>
	<key>STORAGE_BUCKET</key>
	<string>seolleyeon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623093454373:ios:fa6d8e4c2cc2b0890251cc</string>
</dict>
</plist>